html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkout-cart-container {
  border: 1px solid;
  margin: 0 84px;
  padding: 44px 47px;
  padding-bottom: 33px;
  max-width: 893px;
  width: 100%;
  display: flex;
  align-self: center;
}

.cart-wrapper {
  justify-content: center;
  max-width: 893px;
  width: 100%;
}

.cart-info {
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 86px;
}

.empty {
  justify-content: center;
  text-align: center;
  padding-bottom: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 893px;
  width: 100%;
}

.cart-list-item {
  padding-bottom: 40px;
}

.cart-image-container {
  max-width: 100px;
}

.cart-image {
  max-width: 100px;
}

.image-heading-container {
  display: flex;
}

.cart-heading-container {
  padding-left: 28px;
  font-weight: 700;
  font-size: 30px;
}

.cart-remove-button {
  font-weight: 400;
  font-size: 30px;
}

.cart-price-container {
  font-weight: 700;
  font-size: 30px;
  text-align: right;
}

.cart-price-remove-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: underline;
}

.clear-cart-button {
  padding-left: 39px;
  font-weight: 400;
  font-size: 30px;
}

.pay-button-container {
  display: flex;
  justify-content: center;
  padding: 72px 0;
  width: 100%;
}

.pay-button {
  background-color: #dbafae;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-size: 40px;
  padding: 20px 0px;
  width: 100%;
  max-width: 594px;
  text-decoration: none;
}

.cart-price-info {
  justify-content: right;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
  float: right;
  font-size: 30px;
}

.cart-subtotal {
  width: 100%;
}

.cart-payment-container {
  width: 100%;
  justify-content: space-between;
  display: flex;
  text-align: right;
}

.cart-price-heading {
  display: flex;
  justify-content: right;
  text-align: right;
  width: 100%;
}

.total-payment {
  font-size: 45px;
  font-weight: 700;
}
