html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-nav-container {
  display: flex;
}

.logo-container {
  padding: 50px 38px;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 50px 0;
}

.navbar-item {
  padding-left: 40px;
}

.navbar-item a {
  text-decoration: none;
  color: black;
}

.user-container {
  display: flex;
}

.cart-container {
  padding: 50px 20px;
  display: flex;
}

.cart-icon-container {
  padding: 0 5px;
}

.cart-items {
  width: 32px;
  height: 32px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  background-color: #c4c4c4;
  padding: 0;
}

.profile-container {
  padding: 38px 50px;
}
