html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: column;
}

.logo-user-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shipping-banner {
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
  padding: 30px 0;
  font-size: 30px;
}

.logo-nav-container {
  display: flex;
}

.logo-container {
  padding: 50px 38px;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 50px 0;
}

.navbar-item {
  padding-left: 40px;
}

.navbar-item a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.user-container {
  display: flex;
}

.cart-container {
  padding: 50px 20px;
  display: flex;
}

.cart-icon-container {
  padding: 0 5px;
}

.cart-items {
  width: 32px;
  height: 32px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  background-color: #c4c4c4;
  padding: 0;
}

.profile-container {
  padding: 38px 50px;
}

.sale-banner {
  background-image: url("assets/images/background-image.png");
  height: 384px;
  margin-bottom: 32px;
  position: relative;
}

.sale-overlay {
  position: absolute;
  left: 76px;
  top: 81px;
  background: rgba(0, 0, 0, 0.5);
  max-width: 486px;
  width: 100%;
}

.sale-info {
  text-align: center;
  font-size: 50px;
  font-family: "Rockwell";
  font-weight: bolder;
  color: white;
  padding: 50px 70px;
}

.product-heading {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 60px;
  font-weight: normal;
  margin: 0;
}

.product-wrapper {
  padding: 32px 72px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

.product-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1728px;
}

.product-item {
  display: flex;
  justify-content: center;
}

.product-item a {
  text-decoration: none;
  color: inherit;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.image-container {
  padding: 0;
  max-width: 500px;
  width: 100%;
  max-height: 500px;
  position: relative;
}

.image-container img {
  max-width: 500px;
}

.discount-overlay {
  position: absolute;
  top: 28px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

.info-container {
  background-color: #f1e0e0;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 444px;
}

.info-container-heading {
  font-size: 45px;
  font-weight: bold;
  padding: 20px 26px;
  padding-top: 40px;
}

.info-container-body {
  font-size: 30px;
  font-weight: lighter;
  padding: 0 26px;
  flex-grow: 1;
}

.price-container {
  padding: 22px 26px;
  padding-top: 50px;
}

.original-price {
  color: #890000;
  font-size: 50px;
  text-decoration: line-through;
}

.price-cart-container {
  display: flex;
  justify-content: space-between;
}

.add-cart-icon {
  padding-right: 20px;
}

.add-cart-icon button {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.sale-price {
  font-size: 50px;
  font-weight: bold;
}

.show-more-button-container {
  display: flex;
  justify-content: center;
  padding: 72px 0;
  /* padding-bottom: 350px; */
}

.show-more-button {
  background-color: #dbafae;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-size: 40px;
  padding: 30px 0px;
  width: 100%;
  max-width: 594px;
}

footer {
  padding-top: 350px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
